services:
  website:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: nexus_db
      MYSQL_ROOT_PASSWORD: parola
    ports:
      - "3307:3306" # Po»õi accesa DB-ul de pe PC pe portul 3307
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: