* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
  background-color: #0a0a0f;
  color: #fff;
  overflow-x: hidden;
}

.top_bar{
	position: fixed;
 	top: 0;
 	left: 0;
  right: 0;
  height: 80px;
  gap: 15px;
 	display: flex;
 	align-items: center;
 	justify-content: space-evenly;
 	padding: 0 30px;
 	z-index: 1000;
 	box-shadow: 0 0.1px 1px #35d8f6;
}

.logo{
	text-decoration: none;
	color: inherit;
	font-size: 25px;
  display: flex;
  align-items: center;
 	justify-content: center;
 	gap: 10px;
 	user-select: none;
 	cursor: pointer;
}

.logo:hover .nexus_logo {
  	box-shadow:
  	0 0 15px rgba(0, 217, 255, 0.7),
  	0 0 30px rgba(139, 92, 246, 0.7);
}

.connect_wallet{
	text-decoration: none;
	color: inherit;
	font-size: 20px;
	border-color: 35d8f6 ;
	transition: box-shadow 0.6s ease, transform 0.6s ease;
}

.connect_wallet_text {
  border: none;
  box-shadow: 0 0 0 0.6px #35d8f6;
  border-radius: 6px;
  padding: 8px 25px;
 	display: inline-block;
}

.connect_wallet:hover {
  box-shadow:
  0 0 15px rgba(0, 217, 255, 0.7);
}

.nexus_logo{
 	position: relative;
  background: linear-gradient(135deg, #00d9ff, #8b5cf6);
  color: white;
 	width: 40px;
 	height: 40px;
 	font-size: 20px;
 	font-weight: bold;
 	border-radius: 6px;
 	display: flex;
 	align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 0.5s ease, transform 0.5s ease;

}

.home_button, .explore_button, .create_button, .profile_button {
	text-decoration: none;
    padding: 10px 25px;
    color: #e5e7eb;
    font-size: 18px;
}

.home_button:hover, .explore_button:hover, .create_button:hover, .profile_button:hover {

    color: #35d8f6;
}

.text_mare{
	font-size: 44px;
	color: white;
	margin-bottom: 30px;
}

.text_mediu{
	font-size: 20px;
	color: #e5e7eb;
}

.text_nft{
	font-size: 44px;
	background: linear-gradient(90deg, #00d9ff, #8b5cf6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
}

.first_row {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.main_page{
	margin: 0;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 	min-height: 100vh; 
}

.search {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

#search_bar {
  width: 50%;
  max-width: 600px;
  min-width: 400px;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  background-color: #0a0a0f;
  border: none;
  box-shadow: 0 0 0 0.6px #35d8f6;
  border-radius: 8px;
  outline: none;
  flex-shrink: 0;
  height: 50px;
}

.filter_button {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #0a0a0f;
  border: none;
  box-shadow: 0 0 0 0.6px #35d8f6;
  border-radius: 8px;
  padding: 0 10px;
  height: 50px;
}

.filter_button button {
  background: none;
  border: none;
  color: #35d8f6;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.image_filter {
  width: 30px;
  height: 35px;
  border-radius: 5px;
}

.first_row,
.text_mediu,
.search {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

.first_row {
  animation-delay: 0.2s;
}

.text_mediu {
  animation-delay: 0.5s;
}

.search {
  animation-delay: 0.8s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
